python3-colcon-common-extensions
ros-humble-xacro
ros-humble-joint-state-publisher-gui
ros-humble-image-transport-plugins
ros-humble-rqt-image-view
ros-humble-ros2-control
ros-humble-ros2-controllers
ros-humble-slam-toolbox
ros-humble-navigation2
ros-humble-nav2-bringup
ros-humble-twist-mux